
/* Element selector */
div {
    /* background-color: red; */
}

/* class slector */
.red {
    background-color: red;
}

#green {
    background-color: green;
}
/* child selector */
div p{
    color: blue;
    background-color: brown;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* pseudo selector */
a:visited{
    color: yellow;
}
a:link{
    color: green;
}
a:active{
    background-color: red;
}
a:hover{
    background-color: black;
}
p:first-child{
    background-color: aqua;
}
